@page
@model MovieDirectorClient.Pages.DirectorsModel
@{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DirectorId</th>
                <th>Director Name</th>
                <th>Director Age</th>
                <th>Movies</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var director in Model.Directors)
            {
                <tr>
                    <td>@director.Id</td>
                    <td>@director.Name</td>
                    <td>@director.Age</td>
                    <td>
                    @foreach(var movie in director.Movies)
                    {
                        <span>@movie.Title,</span>
                    }
                    </td>
                    <td><form asp-page-handler="Edit" asp-route-id="@director.Id" method="post"><button class="btn btn-warning">Update</button></form></td>
                    <td><form asp-page-handler="Delete" asp-route-id="@director.Id" method="post"><button class="btn btn-danger">Delete</button></form></td>
                </tr>
            }
        </tbody>
    </table>
}

